<!DOCTYPE html>
<html>
<body>
<h1> Edit User <%= @user.username %> </h1>
<form action="/edit/<%= @user.username %>" method="post">
	Username: <input type="text" name="username" value="<%= @user.username %>"> 
	E - Mail: <input type="text" name="email" value="<%= @user.email %>"> 
	Password: <input type="text" name="password" value="<%= @user.password %>"> 
	<button type="submit" name="edit"> Edit </button>
	<button type="submit" name="delete"> Delete </button>
</form>
</body>
</html>