<h1> Question </h1>
<br />
<h2> Category : <%= @showQuestion.category %> </h2>
<h2> Sub-category : <%= @showQuestion.subCategory %> </h2> <br />
<br />
<h2> Question: <%= Nokogiri::HTML.parse(@showQuestion.question).text %> </h2> <br /> 

<form action="/submit/<%= @showQuestion.category %>/<%= @showQuestion.subCategory %>/<%= @questionNumber %>" method="post">

<div class="form-group ">
	<label> Option 1: 
		<input type="radio" name="answer" value="<%= @showQuestion.firstOption %>" />
		<%= Nokogiri::HTML.parse(@showQuestion.firstOption).text %>
	</label>
</div>

<div class="form-group ">
	<label> Option 2: 
		<input type="radio" name="answer" value="<%= @showQuestion.secondOption %>" />
		<%= Nokogiri::HTML.parse(@showQuestion.secondOption).text %>
	</label>
</div>

<div class="form-group ">
	<label> Option 3: 
		<input type="radio" name="answer" value="<%= @showQuestion.thirdOption %>" />
		<%= Nokogiri::HTML.parse(@showQuestion.thirdOption).text %>
	</label>
</div>

<div class="form-group ">
	<label> Option 4: 
		<input type="radio" name="answer" value="<%= @showQuestion.fourthOption %>" />
		<%= Nokogiri::HTML.parse(@showQuestion.fourthOption).text %>
	</label>
</div>

<button type="submit" name="submit"> Submit </button>
</form>